<h2>Form Districs</h2>
<div class="container">
    <hr />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="LoadhideAlert()">Create New</button><br /><br />

    <table class="table table-hover" id="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Regency Name
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Districts Form</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Id">Id</label>
                        <input type="text" class="form-control" id="Id" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                        <span style="color: red" class="error">Valid Name Required</span>
                    </div>


                    <div class="form-group">
                        <label for="Name">Regency Name</label>
                        <select id="Regencies" data-placement="Choose" class="form-control">
                            <option>Choose Regency</option>
                        </select>
                        <span style="color: red" class="error">Valid Regency Name Required</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Save" onclick="ValidationSave();">Add</button>
                <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="ValidationEdit();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="LoadhideAlert();">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <<link href="~/Scripts/SweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/SweetAlert/sweetalert.min.js"></script>
    <link href="~/Scripts/DataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DistrictsMaster/RetrievingDistrict.js"></script>
    <link href="~/Scripts/Icon/font-awesome.css" rel="stylesheet" />
    <link href="~/Scripts/Icon/font-awesome.min.css" rel="stylesheet" />


    
    

    @Scripts.Render("~/bundles/jqueryval")
}